## Лабораторная работа по курсу «Python для анализа данных»

### При выполнении работы допускается использование любых внешних модулей и пакетов.

#### Задача 1

Дана строка:

In [ ]:
string_01 = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

1. Посчитайте, сколько в строке символов, исключая пробелы:

---

In [ ]:
import re

string_02 = re.sub(r'\s+', '', string_01)

print(len(string_02))

225

2. Посчитайте, сколько в строке слов.

In [ ]:
string_03 = re.sub(r'[.,-?\']', '', string_01)
words_list = re.split(r'\s+', string_03)
print(len(words_list))

45

3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [ ]:
def words(char, w_list):
    result = []
    for word in w_list:
        if char == word[0].lower():
            result.append(word)
    print(result)


letter = input().lower()

words(letter, words_list)

t
['the', 'two', 'the', 'the', 'the', 'their', 'the']

**Второй вариант**

In [ ]:
def find_words (letter):
    pattern = r'\b' + letter + '\w*'
    list_words_2 = re.findall(pattern, string_01, re.I)
    print(list_words_2)

In [ ]:
find_words('w')

['written', 'winners', 'When', 'winner', 'writes', 'which', 'What']

#### Задача 2

Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [ ]:
from random import randint

def gen_rand_num_with_3(length: int = 6):
    numbers = list(map(lambda _: randint(0, 9), range(length)))
    numbers_last_index = len(numbers) - 1
    numbers[randint(0, numbers_last_index)] = 3

    print(''.join(str(numbers)))

gen_rand_num_with_3()

[1, 6, 6, 3, 7, 5]

In [ ]:
import random
import string
import secrets
num = 6
res = ''.join(secrets.choice(string.digits) for x in range(num))
print(str(res))

923723

**Верный вариант**

In [ ]:
number = ''
while '3' not in number:
    number = ''.join([str(random.randint(0, 9)) for x in range(6)])
number

'157032'

#### Задача 3

Дан список:

In [ ]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [ ]:
num = sum(list_01)
a = 10 < sum(list_01) < 100
b = 200 < num < 500

print(num, a, b)
#sum(filter(lambda num: 10 < num < 100, list_01) and (lambda num: 200 < num < 500, list_01))

3065 False False

#### Задача 4

Данные студентов представлены в виде списка списков:

In [ ]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [ ]:
students_dict = dict()
for x in students:
    students_dict[x[0]] = x[1:]

In [ ]:
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый внутри созданного словаря.

In [ ]:
def change_group (s_id, new_g):
    students_dict[s_id][4] = new_g

In [ ]:
change_group('0096', 'БСТ161')

In [ ]:
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ161'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

In [ ]:
def print_group (g_id):
    for x in students_dict.values():
        if x[4] == g_id:
            print(x[0], x[1], x[2])

In [ ]:
print_group('БСТ161')

Антонов Антон Игоревич
Степанова Наталья Александровна
Боков Игорь Харитонович
Васильков Валентин Сергеевич

#### Задача 5

Дана матрица:

In [ ]:
import numpy as np

matrix = [
    [0, 1, 2, 4, 8],
    [6, 2, 2, 1, 9],
    [3, 3, 3, 3, 3],
    [4, 6, 7, 1, 2],
    [5, 7, 3, 4, 0]
]

1. Выведите результат сложения всех элементов матрицы.

In [ ]:
sum(sum(x) for x in matrix)

89

2. Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [ ]:
max(sum(x) for x in zip(*matrix))

22

In [ ]:
print(matrix)

[[0, 1, 2, 4, 8], [6, 2, 2, 1, 9], [3, 3, 3, 3, 3], [4, 6, 7, 1, 2], [5, 7, 3, 4, 0]]

In [ ]:
print(*matrix)

[0, 1, 2, 4, 8] [6, 2, 2, 1, 9] [3, 3, 3, 3, 3] [4, 6, 7, 1, 2] [5, 7, 3, 4, 0]

In [ ]:
a = [1, 2, 5, 7]
b = [3, 4, 6]

In [ ]:
for x in zip(a, b):
    print(x)

(1, 3)
(2, 4)
(5, 6)

In [ ]:
for i in zip(*matrix):
    print(i)

(0, 6, 3, 4, 5)
(1, 2, 3, 6, 7)
(2, 2, 3, 7, 3)
(4, 1, 3, 1, 4)
(8, 9, 3, 2, 0)