## Задание 1

Скачайте с сайта [grouplens.org...movielens/](https://) датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [ ]:
import pandas as pd

In [ ]:
movies = pd.read_csv('movies.csv')
movies[['movieId','title']].head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [ ]:
ratings = pd.read_csv('ratings.csv')
ratings = ratings[['movieId','rating']]

In [ ]:
ratings[ratings.rating == 5]

       userId  movieId  rating   timestamp
21          2       17     5.0   835355681
22          2       39     5.0   835355604
29          2      150     5.0   835355395
37          2      222     5.0   835355840
44          2      265     5.0   835355697
...       ...      ...     ...         ...
99975     671     4306     5.0  1064245548
99978     671     4886     5.0  1064245488
99979     671     4896     5.0  1065111996
99982     671     4993     5.0  1064245483
99994     671     5952     5.0  1063502716

[15095 rows x 4 columns]

In [ ]:
best_film =\
  ratings[ratings.rating == 5].\
    movieId.value_counts().index[0]

In [ ]:
movies.loc[movies["movieId"] == best_film, "title"]

284    Shawshank Redemption, The (1994)
Name: title, dtype: object

In [ ]:
best_film_title =\
  movies.loc[movies["movieId"] == best_film, "title"].values[0]
print(f"And the Oscar goes to {best_film_title} !")

And the Oscar goes to Shawshank Redemption, The (1994) !

## Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [ ]:
power = pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [ ]:
power.dtypes

country      object
year          int64
quantity    float64
category      int64
dtype: object

In [ ]:
country_lst = ["Latvia", "Lithuania", "Estonia"]
cat_lst = [4, 12, 21]

In [ ]:
power[power["country"].isin(country_lst) &
      power["category"].isin(cat_lst) &
      (2005 <= power.year) &
      (power.year <= 2010) &
      (power.quantity >= 0)].quantity.sum()

240580.0

## Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

Примеры страниц (необязательно брать именно эти):

https://fortrader.org/quotes

www.finanz.ru...om-vremeni

In [ ]:
data = pd.read_html('https://fortrader.org/quotes')[1]
data.head()

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,86.31,-1.05,-1.20,NaN
1,Нефть WTI Цены на нефть WTI,79.66,-1.48,-1.82,NaN
2,Природный газ Цена на природный газ,2.90,0.04,1.33,NaN
3,Кофе,169.35,2.05,1.23,NaN
4,Кукуруза,683.40,1.80,0.26,NaN

### **Второй вариант**

In [ ]:
!pip install requests

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests) (2.10)

In [ ]:
!pip install lxml

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (4.9.2)

In [ ]:
import requests

In [ ]:
url = "https://fortrader.org/quotes"
resp = requests.get(url)

In [ ]:
resp.status_code   # проверка на ошибки

200

In [ ]:
html = resp.text

In [ ]:
html[:50]

'<!-- \\views\\_layouts\\wp2\\index.php -->\n<!DOCTYPE h'

In [ ]:
data = pd.read_html(html)

In [ ]:
len(data)   # выгрузка всех таблиц

8

In [ ]:
df = data[1]
df.head()

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,86.16,-1.20,-1.37,NaN
1,Нефть WTI Цены на нефть WTI,79.50,-1.64,-2.02,NaN
2,Природный газ Цена на природный газ,2.91,0.04,1.54,NaN
3,Кофе,169.20,1.90,1.14,NaN
4,Кукуруза,683.20,1.60,0.23,NaN